@model IEnumerable<MBI_ASP.Models.Entry>

@{
    ViewBag.Title = "View MBI Records";
}
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MBI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classification)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MBI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classification)
        </td>
      
    </tr>
}

</table>
